:root {
    --accent-color: var(--color-accent-red);
    --accent-width: 2px;
}

ruby > rt {
    height: 1em;
}

[class*='accent'] {
    border-top-width: var(--accent-width);
    border: none;
    border-top: 0 solid var(--accent-color);
    padding-top: calc(0.5em + 0.25rem) !important;

    &:is(.main-content ruby > rt [class*='accent']) {
        padding-top: calc(0em + 0.25rem) !important;
    }
}

.accent-drop {
    position: relative;
}

.accent-drop::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 0.4rem;
    border-left: solid var(--accent-color) var(--accent-width);
}

.accent-drop:last-child {
    margin-right: 1px;
}
